.App {
  text-align: center;
}

.navbar {
  background-color: var(--color2);
  color: #fff;
  height: 50px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  justify-content: center;
  padding: 13px 20px;
}

.navbar a:hover {
  background-color: var(--color4);
}

.navbar a.active {
  background-color: var(--color4);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logoutButton {
  border: none;
  padding: 13px 20px;
  display: inline-block;
  font-size: 18px;
  justify-content: center;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: var(--color4);
}

li:has(> .username) {
  margin-left: auto;
  margin-right: auto;
}